<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Wk1-HW_Dbox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>92292ADD1D99D31A0020BF1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92292AF11D99D31B0020BF1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92292AFC1D99D31B0020BF1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
